<form
        action="/save"
        enctype="multipart/form-data" method="post">
    <div>
        <label for="file"> Загрузить информацию в XML формате.</label>
        <input id="file" name="file"
               type="file">
    </div>
    <div class="text-center ">
        <button type="submit">Загрузить
        </button>
    </div>
</form>